/* ======== GLOBAL RESET ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #D7BA89;  /* Light beige background */
  color: #0F1C2E;       /* Dark navy text */
  padding: 0;
}

.intro-text {
  margin: 20px 60px 8px 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #192A51;
  line-height: 1.5;
  white-space: pre-line;
}

.intro-text strong {
  font-size: 24px;
  font-weight: 800;
  display: block;
  margin-bottom: 6px; /* small spacing */
  color: #192A51;
}





/* ======== NAVBAR ======== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #192A51;   /* Navy Blue */
  border-bottom: 4px solid #8B9EB7; /* Soft Blue border */
}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #D7BA89;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #8B9EB7;
  transform: scale(1.1);
}

.logo {
  font-size: 28px;
  font-weight: 800;
  color: #D7BA89;
}

/* ======== HERO SECTION ======== */
.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero-content h2 {
  font-size: 40px;
  font-weight: 800;
  color: #192A51;
}

.hero-content p {
  font-size: 18px;
  color: #0F1C2E;
  margin-top: 8px;
}

/* ======== CARDS ======== */
.container {
  display: flex;
  gap: 40px;
  padding: 20px 40px 40px 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 47%;
  padding: 30px;
  background: #FFFFFF;
  border-radius: 28px;
  border: 4px solid #192A51;
  box-shadow: 5px 6px 0px #192A51;
  transition: 0.4s ease;
}

.card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 10px 12px 0px #8B9EB7;
}

.card h2 {
  color: #192A51;
  font-size: 26px;
  margin-bottom: 12px;
  font-weight: 700;
}

/* ======== TEAM SECTION ======== */
.team-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.team-card {
  background: #8B9EB7;
  border-radius: 18px;
  padding: 16px;
  border: 3px solid #192A51;
  text-align: center;
  font-weight: 600;
  transition: 0.3s;
  color: #0F1C2E;
}

.team-card:hover {
  background: #192A51;
  color: #D7BA89;
  transform: scale(1.05);
}

/* ======== FOOTER ======== */
footer {
  text-align: center;
  padding: 18px;
  font-size: 16px;
  font-weight: 600;
  background: #192A51;
  border-top: 4px solid #8B9EB7;
  color: #D7BA89;
}
